<a name="welcome"></a>
<div style="margin-top:50px;">
<div class="welcome">
	<div class="overlay-white">
		<div class="container">
			<img class="img-responsive center-block" style="width:250px;max-width: 95%;margin-top:50px;" src="/img/logo.png">
			<div class="col-md-8 col-md-offset-2">
				<h1 style="text-align:center;">Welcome to Hilltop Carvings & Primitives</h1>
				<p class="lead" style="text-align:center;">Our products include hand crafted, folk art carvings of Santa Claus, and reproductions of antique wall boxes. Each santa has a lightly aged finish, and all wall decor are rustic in design. Individually or together they make excellent gifts, decorations, and accent pieces.</p>
			</div><!-- col-md-6 col-md-offset-3 -->
		</div><!-- container -->
	</div><!-- overlay-white -->
</div><!-- welcome -->